<div class="header-article limit">
    <div class="header-article__reduction">
        <div class="header-article__image-container">
            <div class="header-article__image"
                 data-retina="http://lorempixel.com/800/800"
                 style="background-image:url(http://lorempixel.com/400/400);">
            </div>
        </div>
        <header class="header-article__header">
            <div class="header-category">
                <i class="fa fa-code"></i>
                <div class="header-category__title">front-end coding</div>
            </div>
            <h2 class="header-article__title">Why I moved to SASS and stoppet working with LESS</h2>
            <time class="header-article__date" datetime="2015-03-06 16:32:04">
                <i class="fa fa-clock-o"></i>
                Written moday 25 february 2015, at 02:33 in the night
            </time>
            <ul class="header-article__social">
                <li>Share on</li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </ul>
        </header>
    </div>
</div>
