<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} @ {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include social-metadata.html %}

    <link rel="stylesheet" href="{{ "/css/frontsize-3.0.0.min.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ site.url }}/img/theme/favicon.ico">
    <link rel="apple-touch-icon image_src" href="{{ site.url }}/img/theme/apple-touch-icon.png">

    <!--link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700,300,400' rel='stylesheet' type='text/css'-->

</head>
