<div class="mobile-menu">
    <div>
        <div>
            <a href="/" class="vittorio-vittori-logo vittorio-vittori-logo--small"></a>
        </div>
        <div>
            <a class="mobile-menu__button" href="/list/diy"><i class="fa fa-recycle"></i></a>
        </div>
        <div>
            <a class="mobile-menu__button" href="/list/photos"><i class="fa fa-camera"></i></a>
        </div>
        <div class="mobile-menu__right">
            {% include social-sharer.html %}
        </div>
    </div>
</div>
