<hr>

<div class="paginator">
    <div class="paginator__row">
        <div>
            <div>
                <a class="paginator__button" href="#">Previous</a>
            </div>
            <div class="paginator__center">
                <a class="paginator__button" href="#">All posts</a>
            </div>
            <div>
                <a class="paginator__button" href="#">Next</a>
            </div>
        </div>
    </div>
    <p class="paginator__help">
        You can press keyboard keys to navigate between posts:<br>
        <span class="paginator__key"><kbd><i class="fa fa-long-arrow-left"></i></kbd> for previous posts</span>
        <span class="paginator__key"><kbd><i class="fa fa-long-arrow-up"></i></kbd> to go to all posts</span>
        <span class="paginator__key"><kbd><i class="fa fa-long-arrow-right"></i></kbd> for next posts</span>
    </p>
</div>
