<div class="side-left">

    <header class="side-left__header">

        <div class="vittorio-vittori-logo"></div>

        <h1>Vittorio Vittori!</h1>

        <p>
        Hello, I'm vitto, a front-end engineer<br>
        who works in Cesena <a href="http://www.ideato.it">@ideato</a>,<br>
        a nice web company who loves to help startups.
        </p>

    </header>

    <div class="share">
        {% include social-sharer.html %}
    </div>
    <nav class="side-left__nav">
        <p>
            In this site You'll see
        </p>
        <ul class="my-life-on-ul">
            <li>
                <a href="http://vittoriovittori.com/furniture" class="my-life-on-ul__button">
                    <i class="fa fa-recycle"></i>
                    I'm totally in love with DIY crafting
                </a>
            </li>
            <li>
                <a href="http://vittoriovittori.com/photo" class="my-life-on-ul__button">
                    <i class="fa fa-camera"></i>
                    sometimes i go to take pictures
                </a>
            </li>
        </ul>
    </nav>

    <nav class="side-left__nav">
        <p>
            Would you like to know more?
        </p>

        <ul class="my-life-on-ul">
            <li>
                <a href="https://github.com/vitto" class="my-life-on-ul__button">
                    <i class="fa fa-github-alt"></i>
                    I love to build open source code
                </a>
            </li>
            <li>
                <a href="http://stackoverflow.com/users/185921/vitto" class="my-life-on-ul__button">
                    <i class="fa fa-stack-overflow"></i>
                    there's a lot I have to learn
                </a>
            </li>
            <li>
                <a href="https://it.linkedin.com/in/vittoriovittori" class="my-life-on-ul__button">
                    <i class="fa fa-linkedin-square"></i>
                    but fortunately, I know some stuff
                </a>
            </li>
            <li>
                <a href="https://instagram.com/vttrx" class="my-life-on-ul__button">
                    <i class="fa fa-instagram"></i>
                    I play with Instagram when I'm outside
                </a>
            </li>
            <li>
                <a href="http://www.tripadvisor.it/members/monastereo" class="my-life-on-ul__button">
                    <i class="fa fa-motorcycle"></i>
                    when I can, I travel around the world
                </a>
            </li>
            <li>
                <a href="http://lastfm.it/user/Millobixo" class="my-life-on-ul__button">
                    <i class="fa fa-lastfm"></i>
                    music is fundamental for my life
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/vttr" class="my-life-on-ul__button">
                    <i class="fa fa-pinterest"></i>
                    occasionally, I collect visual inspiration
                </a>
            </li>
            <li>
                <a href="http://steamcommunity.com/id/impostore" class="my-life-on-ul__button">
                    <i class="fa fa-steam-square"></i>
                    I enjoy playing video-games
                </a>
            </li>
            <li>
                <a href="https://twitter.com/vttrx" class="my-life-on-ul__button">
                    <i class="fa fa-twitter"></i>
                    I don't tweet much
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/vittoriovittori" class="my-life-on-ul__button">
                    <i class="fa fa-facebook-square"></i>
                    and yes, I'm on Facebook
                </a>
            </li>
        </ul>
    </nav>
</div>
