<nav class="site-nav">
    <p>
        In this site You'll see
    </p>
    <ul class="my-life-on-ul">
        <li>
            <a href="/list/diy" class="my-life-on-ul__button">
                <i class="fa fa-recycle"></i>
                I'm totally in love with DIY crafting
            </a>
        </li>
        <li>
            <a href="/list/photos" class="my-life-on-ul__button">
                <i class="fa fa-camera"></i>
                sometimes i go to take pictures
            </a>
        </li>
    </ul>
</nav>
