
// The pre element represents a block of preformatted text,
// in which structure is represented by typographic conventions
// rather than by elements.
//
// Url - http://html5doctor.com/element-index/#pre

pre {

    font-family      : $font-monospace;
    padding          : $spacing;
    overflow         : auto;
    white-space      : pre;
    text-shadow      : none;
    background-color : mix($beige, white, 50%);
}
