@charset "UTF-8";
/*!
Frontsize: http://frontsize.com
GitHub:    https://github.com/ideatosrl/frontsize-less
License:   MIT Licence
Version:   3.0.0
Date:      2014-09-08
Author:    Vittorio Vittori
Website:   http://vit.to
*/
/*
.block(block-selector); @{b} {

    .element(element-selector); @{e} {
        background-color: red;

        .modifier(modifier-selector); &@{m} {
            background-color: yellow;
        }
    }
}
*/
@font-face {
  font-family: 'open sans';
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans-Bold.woff2') format('woff2'), url('/fonts/OpenSans-Bold.woff') format('woff'), url('/fonts/OpenSans-Bold.ttf') format('truetype'), url('/fonts/OpenSans-Bold.svg#open sans') format('svg');
}
@font-face {
  font-family: 'open sans';
  font-weight: 400;
  src: url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans-Regular.woff2') format('woff2'), url('/fonts/OpenSans-Regular.woff') format('woff'), url('/fonts/OpenSans-Regular.ttf') format('truetype'), url('/fonts/OpenSans-Regular.svg#open sans') format('svg');
}
@font-face {
  font-family: 'open sans';
  font-weight: 200;
  src: url('/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans-Light.woff2') format('woff2'), url('/fonts/OpenSans-Light.woff') format('woff'), url('/fonts/OpenSans-Light.ttf') format('truetype'), url('/fonts/OpenSans-Light.svg#open sans') format('svg');
}
/* line 12, core/components/private.less */
.limit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px), only print {
  /* line 19, core/components/sizing.less */
  .limit {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 19, core/components/sizing.less */
  .limit {
    max-width: 974px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 19, core/components/sizing.less */
  .limit {
    max-width: 1180px;
  }
}
@media only screen and (min-width: 1800px) {
  /* line 19, core/components/sizing.less */
  .limit {
    max-width: 1300px;
  }
}
/* line 1, themes/default/widgets/site-header.less */
.site-header {
  display: block;
  overflow: auto;
  clear: both;
  padding-bottom: 20px;
  border-bottom: 2px solid #545454;
}
/* line 40, core/grids/float-grid.less */
.site-header * {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 1px) and (max-width : 479px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width : 767px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width : 1023px), only print {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width : 1279px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 1280px) and (max-width : 1799px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 1800px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 1px) and (max-width : 479px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width : 767px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width : 1023px), only print {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width : 1279px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 66.66666667%;
  }
}
@media only screen and (min-width: 1280px) and (max-width : 1799px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 66.66666667%;
  }
}
@media only screen and (min-width: 1800px) {
  /* line 64, core/grids/float-grid.less */
  .site-header .site-header__logo {
    width: 66.66666667%;
  }
}
/* line 6, themes/default/base/section-body.less */
body {
  background-color: #f5f0d6;
  color: #545454;
  font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
@media only screen and (min-width: 1px) {
  /* line 45, core/components/padding.less */
  body {
    padding: 10px;
  }
}
@media only screen and (min-width: 480px) {
  /* line 45, core/components/padding.less */
  body {
    padding: 10px;
  }
}
@media only screen and (min-width: 768px), only print {
  /* line 45, core/components/padding.less */
  body {
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 45, core/components/padding.less */
  body {
    padding: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 45, core/components/padding.less */
  body {
    padding: 80px;
  }
}
@media only screen and (min-width: 1800px) {
  /* line 45, core/components/padding.less */
  body {
    padding: 160px;
  }
}
/*# sourceMappingURL=test/frontsize.test.css.map */