.header-article {

    @include setFloatGridContainer();
    padding-bottom: $global-step;

    @include element("reduction") {
        @include setFloatGridOffset(2,2,2);
        @include setFloatGridColumn(10,10,10);
        padding-top: $global-step;
        padding-left: 0;
        padding-bottom: $global-step;
        border-bottom: $border;

        &:hover {
            .header-article__image {
                @include filter("grayscale(0%)");
            }
        }
    }

    @include element("image-container") {
        @include setFloatGridColumn(3,3,3);
        padding-right: $global-step;
    }

    @include element("header") {
        @include setFloatGridColumn(9,9,9);
        padding-left: $global-step;
    }

    @include element("title") {
        margin-top: $global-step;
        margin-bottom: ($global-step * 2);
    }

    @include element("date") {
        display: block;
    }

    @include element("social") {
        margin-top: $global-step;
    }

    @include element("image") {
        width: 100%;
        $size: 220px;
        height: $size;
        @include fallbackBackgroundSize(cover, $size $size, 50% 50%);

        background-color: $font-color;

        @include transition(prefix("filter"), "0.25s ease-in-out");
        //@include transition("filter" "-webkit-filter", "0.25s ease-in-out");
        @include filter("grayscale(100%)");

        &:hover {
            @include filter("grayscale(0%)");
        }
    }
}
