.header-category {
    overflow: auto;

    .fa {
        display: inline-block;
        background-color: $font-color;
        color: $body-color;
        font-size: ($font-size * 2);
        line-height: 30px;
        padding: round($global-step / 2) $global-step;
    }

    @include element("title") {
        line-height: 30px;
        text-transform: uppercase;
        display: inline-block;
        padding: round($global-step / 2) $global-step;
    }
}
