.mobile-menu {

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    @include asTable(s(0.5));
    background-color: $beige;
    @include box-shadow(0 2px 1px rgba(0,0,0,0.1));

    @media #{$from-tablet-landscape} {
        display: none;
    }

    .addthis {
        margin-bottom: 0;
    }

    @include element("button") {
        i {
            font-size: s(1.25);
        }
    }

    @include element("right") {
        width: 100%;
        text-align: right;
    }
}
