.my-life-on-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    &:hover .my-life-on-ul__button {
        color: mix($font-color, $body-color, 10%);
        &:hover {
            color: $font-color;
        }
    }

    @include element("button") {
        font-weight: 400;
    }

    .fa {
        color: $font-color;
    }
}
