.paginator {

    @include element("row") {
        @include asTable(0);
        text-align: center;
    }

    @include element("center") {
        width: 100%;
    }

    @include element("button") {
        font-weight: 500;
        padding: s(0.5);
        min-width: 95px;

        border: 1px solid;
        color: $font-color;
        border-color: mix($font-color, $beige, 15%);
        background-color: transparent;

        @include border-radius(s(0.25));

        &:hover {
            color: mix($beige, white, 50%);
            border-color: $font-color;
            background-color: $font-color;
        }

        @include modifier("disabled") {
            display: inline-block;
            opacity: 0.5;
            cursor: default;
            &:hover {
                color: $font-color;
                border-color: mix($font-color, $beige, 15%);
                background-color: transparent;
            }
        }
    }

    @include element("help") {
        @media #{$till-hd-ready} {
            display: none;
        }

        margin-top: s(2);

    }

    @include element("key") {

        margin-right: s(1);
        white-space: nowrap;

        kbd {
            text-align: center;
            display: inline-block;
            min-width: s();
            border: 1px solid mix($font-color, $beige, 15%);
            border-bottom-width: 3px;
            @include border-radius(s(0.25));
        }
    }
}
