.photo {
    @include asTable(0);
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    background-color : mix($beige, white, 50%);

    @include element("vertical-padding") {
        height: 5vh;
    }

    @include element("wrapper") {
        height: 90vh;
    }

    img {
        cursor: pointer;
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        max-height: 90vh;
        @include box-shadow(0 2px 3px rgba(0,0,0,0.3));
    }
}
