.side-left {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    padding: s(2);
    @include setViewportsPadding(
        s(5),
        s(5),
        s(3),
        s(2),
        s(2),
        s()
    );

    @include setFloatGridColumn(false, 4, 5, 5, 12, 12, 12, 12, false, false);
    @include setFloatGridContainer();

    @include element("header") {
        @include setFloatGridColumn(true, 12, 12, 12, 6, 12, 12);
    }

    @include element("nav") {
        @include setFloatGridColumn(true, 12, 12, 12, 6, 12, 12);
    }

    @media #{$till-tablet-landscape} {
        position: static;
        height: auto;
    }
}
