.side-right {
    min-height: 100vh;
    padding : s(2);
    background-color: white;

    @include setViewportsPadding(
        s(5),
        s(5),
        s(3),
        s(2),
        s(2),
        s()
    );

    @include setFloatGridColumn(false, 8, 7, 7, 12, 12, 12);
    @include setFloatGridOffset(4, 5, 5, 0, 0, 0);

    @include modifier("post") {
        margin-top:    s(2);
        margin-bottom: s(2);
        @include box-shadow(0 2px 4px rgba(0,0,0,0.2));
        @media #{$till-tablet-landscape} {
            @include box-shadow(none);
            border-top: 1px solid mix($beige, black, 95%);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
