.side-right {
    min-height: 100vh;
    background-color: white;

    @include box-shadow(0 2px 4px rgba(0,0,0,0.2));
    @media #{$till-tablet-landscape} {
        @include box-shadow(none);
        border-top: 1px solid mix($beige, black, 95%);
    }

    @include box-sizing(border-box);

    @include setFloatGridColumn(false, 8, 8, 7, 12, 12, 12);
    @include setFloatGridOffset(4, 4, 5, 0, 0, 0);

    @include modifier("post") {
        padding:       s(2);
        margin-top:    s(2);
        margin-bottom: s(2);
        @include setViewportsPadding(
            s(5),
            s(4),
            s(2),
            s(2),
            s(2),
            s()
        );
        @media #{$till-tablet-landscape} {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
