.side-left {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    padding: s(2);
    @include setViewportsPadding(
        s(5),
        s(4),
        s(2),
        s(2),
        s(2),
        s()
    );

    @include box-sizing(border-box);

    @include setFloatGridColumn(false, 4, 4, 5, 12, 12, 12, 12, false, false);


    @include element("title-link") {
        font-weight: 600;
    }

    @media #{$till-tablet-landscape} {
        display: none;
    }
}
