.site-header {
    @include setFloatGridContainer();

    border-bottom  : $border;

    @include element(logo) {
        @include setFloatGridColumn(true, 4,4,4);
    }

    @include element(title) {
        @include setFloatGridColumn(true, 8,8,8);
    }

    @include element(description) {
        margin-top: 0;
    }

    nav a {
        margin-right: 5px;
    }
}


