---
layout: default
---

{% if page.photo %}
<div class="photo">
    <div>
        <div class="photo__vertical-padding"></div>
    </div>
    <div>
        <div class="photo_wrapper">
            <img src="/img/posts/photos/{{ page.photo }}" alt="">
        </div>
    </div>
    <div>
        <div class="photo__vertical-padding"></div>
    </div>
</div>
{% endif %}

<div class="photo-exif-details">

    {% capture model %}{% exiftag model, page.photo %}{% endcapture %}
    {% capture exposure %}{% exiftag exposure_time.to_s, page.photo %}{% endcapture %}
    {% capture date_time %}{% exiftag date_time, page.photo %}{% endcapture %}
    {% capture focal_length %}{% exiftag f_number.to_f, page.photo %}{% endcapture %}
    {% capture width %}{% exiftag width, page.photo %}{% endcapture %}
    {% capture height %}{% exiftag height, page.photo %}{% endcapture %}

    {% capture flash %}{% exiftag flash, page.photo %}{% endcapture %}
    {% capture lens %}{% exiftag lens, page.photo %}{% endcapture %}
    {% capture iso %}{% exiftag iso, page.photo %}{% endcapture %}


    {% if page.location || iso != '' || focal_length != '' || focal_length != '' || exposure != '' || model != '' || lens != '' || date_time != '' %}
        <hr class="photo-exif-details__hr">
    {% endif %}

    {% if page.location %}
         <span class="photo-exif"><strong>Location</strong> {{ page.location }}</span>
    {% endif %}
    {% if date_time != '' %}
         <span class="photo-exif"><strong>Date</strong> {{ date_time | date: "%A %-d %B %Y on %H:%M" }}</span>
    {% endif %}<br>
    {% if model != '' %}
         <span class="photo-exif"><strong>Camera</strong> {{ model }}</span>
    {% endif %}
    {% if lens != '' %}
         <span class="photo-exif"><strong>Lens</strong> {{ lens }}</span>
    {% endif %}<!--br-->
    {% if iso != '' %}
         <span class="photo-exif"><strong>Iso</strong> {{ iso }}</span>
    {% endif %}
    {% if exposure != '' %}
         <span class="photo-exif"><strong>Exposure</strong> {{ exposure }}sec</span>
    {% endif %}
    {% if focal_length != '' %}
         <span class="photo-exif"><strong>Aperture</strong> f/{{ focal_length }}</span>
    {% endif %}
    {% if flash == '16' %}
        <span class="photo-exif"><strong>Flash</strong> No</span>
    {% else %}
        <span class="photo-exif"><strong>Flash</strong> Yes</span>
    {% endif %}

</div>



<div class="post post--photo">

    <header>
        <h1>{{ page.title }}</h1>
        <p>Published on <time datetime="{{ page.date }}">{{ page.date | date: "%A %-d %B %Y" }}</time> by Vittorio {% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    {% include social-sharer.html %}

    <article>
        {{ content }}
        {% include paginator.html %}
    </article>

    {% if page.location %}
        {% include map.html %}
    {% endif %}

    {% include comments.html %}
</div>
