---
layout: post-base
---
{% if page.cover %}
<div class="post-cover">
    <img src="/img/posts/{{ page.category }}/{{ page.title | downcase | replace: ' ','-' }}/image-cover.jpg" alt="">
</div>
{% endif %}

<div class="post">

    <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%A %-d %b %Y" }} by Vittorio {% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    {% include social-sharer.html %}

    <article>
        {{ content }}
        {% include paginator.html %}
    </article>

    {% include comments.html %}

</div>
